
/* Navbar principal */
.nav-bar {
    position: fixed;        /* siempre arriba */
    top: 0;
    left: 0;
    width: 100%;            /* que ocupe todo el ancho */
    display: flex;
    justify-content: center; /* centra logo + links */
    align-items: center;
    padding: 15px 20px;
    background-color: #eeb7b7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    gap: 40px;
    z-index: 1000;          /* que quede sobre el resto */
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    
}

.logo {
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

/* Links del navbar */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}
